<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <script src="functions.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>bate-papo ajax</title>
</head>

<body onload="getMessage()">
    <div id= "window" class="chat_window">
        <div class="top_menu">
            <div class="title">Bate Papo AJAX</div>
        </div>
        <ul class="messages"></ul>
        <div class="bottom_wrapper clearfix">
            <div id="sender_wrapper" class="message_sender_wrapper">
                <input class="message_sender" placeholder="Nome..." type="text" onblur="getMessage()"/>
            </div>
            <div class="message_input_wrapper">
                <input class="message_input" placeholder="Digite Sua mensagem aqui..." type="text"/>
            </div>
            <div class="send_message">
                <div class="icon"></div>
                <div class="text">Enviar</div>
            </div>
        </div>
    </div>

    <div class="message_template">
        <li class="message">
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>
</body>